


    .SignUp{
        overflow-x: hidden;
        padding-top:2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        h1{
            text-align: center;
            color: #3C3C3C;
            font-size: 38px;
            letter-spacing: -0.76px;
        }
        img{
            margin:2rem 0;
        }

        .RegisterBox{
            background-color:#F0F1F1;
            width: 20rem;
            height: 17rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom:2rem;

            .Email, .PasswordOne, .PasswordTwo{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                padding:1rem;
                border-bottom: 0.75px solid #3C3C3C;
                label{
                    padding-bottom: 0.5rem;
                    font-family: 'Open Sans';
                    font-weight: 800;
                    font-size: 16px;
                    color: #3C3C3C;
                }
                input{
                    background-color: transparent;
                    color: #3C3C3C;
                    border: none;
                }
            }
            .PasswordTwo{
                margin-bottom: 2rem;
            }

        }
        .buttonFrame{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding:1rem;
            width: 25rem;
    
            p, button{
                width: 8rem;
                font-family:'Open Sans';
                font-size: 18px;
                font-weight: 200;
                border: 0.5px solid transparent;
                background-color: transparent;
                padding: 1rem 1rem;
                text-align: center;
                cursor: pointer;
                &:hover{
                    border: 0.5px solid #3C3C3C;
                    
                }
                a{
                    text-decoration: none;
                    color: #3C3C3C;
                    
                }
            }
        }
    }



.errorMessage{
    font-family: 'Open Sans';
    font-weight: 800;
    color: red;
    font-size: 14px;
    display: inline-block;
    text-align: start;
    padding:0.5rem;
}


