.Section1b{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    background-image: url("../../assets/Home-Hero-Image.jpg");
    background-position-x: -30rem;
    background-repeat: no-repeat;
    overflow-x: hidden;
    padding-top:2rem;
    padding-bottom: 18rem;
    padding-right: 2rem;
        header{
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: flex-end;
            width: 100%;

            .logAndReg{
                display: flex;
                flex-direction: row;
                padding-right: 4rem;
                justify-content: flex-end;
                

                button{
                    width: 7rem;
                    font-family: $font-base;
                    font-size: $baseFontSize;
                    color: $color5;
                    border:none;
                    background-color: transparent;
                    padding: 0.5rem 1rem;
                    font-weight: 200;
                    border: 1px solid transparent;

                    &:hover{
                        border: 1px solid $color3;
                    }
                }

            }

            nav{
                padding-top: 2rem;
                width: 100%;
                padding-right: 4rem;
                
                ul{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    li{
                        display: block;
                        
                        a{
                            padding: 0.5rem 1rem;
                            text-decoration: none;
                            color: $color5;
                            display: block;
                            text-align: center;
                            font-size: 18px;
                            font-family: $font-base;
                            letter-spacing: 0;
                            border: 0.75px solid rgba(0,0,0,0);

                            &:hover{
                                border-color: $color4;
                                
                            }
                        }
                    }
                }
            }

            .txt{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding-top: 12rem;
                width: 100%;
                padding-right: 4rem;

                h1{
                    text-align: center;
                    color: $color5;
                    font-size: 38px;
                    letter-spacing: -0.76px;
                }
                img{
                    margin-top: 3%;
                }

                .headerButtons{
                    padding-top: 4rem;
                    display: flex;
                    flex-direction: row;

                    button{
                        text-align: center;
                        font-weight: 200;
                        font-size: 36px;
                        text-transform: uppercase;
                        border: 0.75px solid $color4;
                        padding: 1rem 3rem;
                        background-color:transparent ;
                        width: 18rem;
                        margin: 0 1rem;
                    }
                }
            }
        }
}