@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap");

@import url("https://fonts.googleapis.com/css?family=Merriweather:200,400,700,900&display=swap");

$font-base: 'Open Sans' ;
$font-alt: 'Merriweather';

$baseFontSize: 14px;